/* More breathing room for the profile photo in the header */
.headerTop {
	padding-right: .556em;
}

/* Don't allow body to scroll if cursor is within dialog */
.dialog, .formDialogContent {
	overscroll-behavior: contain;
}

/* Keep dialog header in view, at the top */
.formDialogHeader {
	position: sticky;
	top: 0;
	z-index: 2;
}

/* Immediately accessible save button */
form > div:has(.button-submit),
form > .button-submit {
	bottom: 1em;
	position: sticky;
	z-index: 2;
}
