/* More breathing room for the profile photo in the header */
.headerTop {
	padding-right: .556em;
}

/* Don't allow body to scroll if cursor is within dialog */
.dialog, .formDialogContent {
	overscroll-behavior: contain;
}

/* Keep dialog header in view, at the top */
.formDialogHeader {
	position: sticky;
	top: 0;
	z-index: 2;
}

/* Immediately accessible save/cancel button */
form > div:has(.button-submit),
form > .button-submit {
	bottom: 1em;
	position: sticky;
	z-index: 2;
}

/* Offset active playing bar */
body:has(> .appfooter > [class="nowPlayingBar"]) :where(
	form > div:has(.button-submit),
	form > .button-submit
) {
	bottom: 5.2em; /* playing bar is currently 4.2em tall */
}

/* Home page "My Media" section */
/* Rename "My media" to "All media" */
#homeTab .section0 .sectionTitle {
	font-size: 0;
	padding-bottom: .3rem; /* .2em * 1.5em */
	padding-top: .75rem; /* .5em * 1.5em */
}
#homeTab .section0 .sectionTitle::before {
	content: "All media";
	font-size: 1.5rem;
}

/* Default catch-all, move card to end */
#homeTab .section0 [data-collectiontype] { order: 9 }
/* Custom preferred ordering of my media collections */
#homeTab .section0 [data-collectiontype="movies"]  { order: 1 }
#homeTab .section0 [data-collectiontype="tvshows"] { order: 2 }
#homeTab .section0 [data-collectiontype="music"]   { order: 3 }
#homeTab .section0 [data-collectiontype="books"]   { order: 4 }


/* Cast & crew section cards */
#castContent .cardPadder {
	aspect-ratio: 1 / 1;
	padding-bottom: 0;
}

/* Center upwards slightly, seemingly more photos have the face higher */
#castContent .cardContent {
	background-position-y: 40%;
}

#castContent .cardScalable > :where(.cardPadder, .cardImageContainer, .cardOverlayContainer) {
	border-radius: 50%;
}
